body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f6f9;
}

/* Navbar */
.navbar {
  background: #0f172a;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  background: #ef4444;
  border: none;
  padding: 8px 15px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* Layout */
.main-layout {
  display: flex;
  padding: 20px 60px;
  gap: 30px;
}

/* Sidebar */
.sidebar {
  width: 250px;
  background: white;
  padding: 20px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.profile-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.menu button {
  width: 100%;
  margin-top: 10px;
  padding: 8px;
  border: none;
  background: #e5e7eb;
  border-radius: 6px;
  cursor: pointer;
}

/* Feed */
.feed-section {
  flex: 1;
}

/* Create Post */
.create-post {
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.create-post input {
  width: 100%;
  padding: 10px;
  border-radius: 30px;
  border: 1px solid #ccc;
}

.post-actions {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.post-btn {
  background: #2563eb;
  color: white;
  border: none;
  padding: 6px 15px;
  border-radius: 6px;
}

/* Post Card */
.post-card {
  margin-top: 20px;
  background: white;
  padding: 15px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.post-header {
  display: flex;
  gap: 10px;
  align-items: center;
}

.post-profile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.post-image {
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

.post-footer {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.post-footer button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.liked {
  color: red;
  font-weight: bold;
}

.saved {
  color: #2563eb;
  font-weight: bold;
}
.upload-btn {
  background: #e5e7eb;
  padding: 6px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.upload-btn:hover {
  background: #d1d5db;
}