body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f4f6;
}

/* NAVBAR */
.navbar {
  background: #0f172a;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout-btn {
  background: #ef4444;
  border: none;
  padding: 8px 15px;
  color: white;
  cursor: pointer;
  border-radius: 6px;
}

/* FEED */
.feed-content {
  width: 750px;
  margin: 30px auto;
}

/* CREATE POST */
.create-post {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  margin-bottom: 20px;
}

.create-top {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 50%;
  margin-right: 10px;
}

.post-input {
  flex: 1;
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #ddd;
}

.create-options {
  display: flex;
  justify-content: space-around;
  margin-top: 15px;
  color: #555;
}

/* CHIPS */
.chips {
  margin: 15px 0;
}

.chips button {
  padding: 8px 15px;
  border-radius: 20px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  background: #e5e7eb;
}

.chips .active {
  background: #2563eb;
  color: white;
}

/* POST CARD */
.post-card {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.08);
  margin-bottom: 20px;
}

.post-header {
  display: flex;
  align-items: center;
}

.post-header h4 {
  margin: 0;
}

.tag {
  font-size: 12px;
  color: #2563eb;
}

.post-text {
  margin: 15px 0;
}

.post-image {
  width: 100%;
  border-radius: 10px;
}