.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f3f4f6;
}

.auth-box {
  background: white;
  padding: 30px;
  border-radius: 8px;
  width: 300px;
  text-align: center;
}

.auth-box input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #6d28d9, #7c3aed);
  color: white;
  border: none;
  cursor: pointer;
}